<div class="block-content">
    <h2>Single Block</h2>
   
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis iusto iste incidunt ut illo nesciunt et! Temporibus 
        iure rem harum perspiciatis, quaerat impedit incidunt magnam ipsam nisi, dolorem consequatur provident laboriosam quas maiores 
        perferendis. Assumenda sed unde maiores! Qui, error perspiciatis, laudantium soluta iure culpa nemo impedit, odio corporis sapiente
         aut optio ad omnis? Ut perspiciatis ab quis earum quibusdam ullam provident doloremque voluptas itaque laboriosam odio voluptatum
          rem facilis eveniet quaerat at illo vero, odit, illum amet cupiditate hic impedit. Cumque repudiandae labore aliquam ratione a 
          debitis voluptatem eum, repellendus, quo iste tempora, rem voluptas doloribus error dolor incidunt?</p>
    <button>Click Me!</button>
</div>